
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    font-family: Arial, sans-serif;
    background-color: #13161E; 
    color: white;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 800px;
    margin: 90px auto;
    background-color: #13161E; 
}

.container h1 {
    font-size: 32px;
    color: white ;  
    margin-bottom: 20px;
}

.intro h1 {
    color: white; 
}

.languages h2,
.about h2,
.skills h2,
.contact h2 {
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 10px;
    color: white; 
}

ul {
    list-style-type: none;
}



a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #0DAEE3; 
}





@media (max-width:900px){

    .container{
        padding: 40px;
        margin: 50px auto;
    }

    .container h1{
        font-size: 1.4rem ;
    }

    .languages h2,
    .about h2,
    .skills h2,
    .contact h2{
            font-size: 1.2rem;
}
}




.navbar{
    background-color: #0D1016;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    position: fixed;
    top: 0;
    z-index: 999;
}

.navbar .logo img{
    width: 50px;
    height: 50px;
}




.navbar ul{
    display: flex;
    column-gap: 5rem;
    font-size: 1.1rem;
}

.navbar ul li{
    transition: all ease-in 0.2s;
}

.navbar ul li:hover{
    transform: scale(1.1);
}

.navbar ul li a:hover{
    color: #0DAEE3;
}

.navbar ul li a{
    transition: all ease-in 0.2s;
    color: white;
    text-decoration: none;
}

.navbar div{
    color: white;
}

.navbar .login{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 10px;
    width: 70px;
    text-align: center;
    height: 25px;
}

.navbar .login a{
    color: white;
    font-size: 1rem;
    text-decoration: none;
}


#a{
    font-weight: bold;
    color: #0DAEE3;
}

.container p{
    font-size: 20px;
}

@media (max-width:800px){
    .navbar{
        padding: 0 2%;
    }
}

@media (max-width:700px){
    .navbar{
        padding: 0 1%;
    }
    .navbar ul .home{
        display: none;
    }
}

@media (max-width:550px){
    .navbar ul .home{
        display: none;
    }

    .navbar ul{
        column-gap: 3rem;
        font-size: 1rem;
    }
}

@media (max-width:450px){

    .navbar ul{
        column-gap: 1.5rem;
    }

    .navbar .logo{
        display: none;
    }

    .navbar{
        height: 50px;
    }
}


.asd {
    opacity: 0; 
    animation: fadeIn 3s forwards; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

