/* base css start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: #ccc;
}

/* base css end */

/* header start */
header{
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1{
    margin: 2rem;
}
/* header end */

/* search start */
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.todoInput{
    min-width: 25%;
    padding: 0.5rem;
}

.addButton{
    padding: 0.5rem;
}


/* search end */

/* select start */
.select-main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.filter-todo{
    min-width: 10%;
    padding: 10px;
}

/* select end */

/* alt start */
.alt{
    display: flex;
    justify-content: center;
    align-items: center;

}

.todo{
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 10px;
    transition: 0.5s all ease;
}

.checkedButton{
    padding: 13px;
}

.todo-item{
    width: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
}

.deleteButton{
    padding: 13px;
}

/* alt end */

/* alert start */
.main-alert{
    position: absolute;
    bottom: 10%;
    right: 0;
}

.success,
.warning{
    padding: 1rem;
    color: #fff;
    font-weight: bold;
    width: 23rem;
    text-align: center;
    display: none;
}

.warning{
    background-color: #dc3545;
}

.success{
    background-color: #5ebe92;
}


/* alert end */

.completed{
    opacity: 0.5;
    text-decoration: line-through;
}

.fall{
    transform: translateY(8rem) rotateZ(360deg);
    opacity: 0;
}

i{
    pointer-events: none;
}